body {
    background-color: azure;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    color: blue;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    color:cornflowerblue;
}